{% extends "base/base.html" %}
{% load static %}
{% block content %}
    {#   прогресс бар #}
    <div class="stepper-wrapper">

        <div class="stepper-item completed">
            <div class="step-counter">
                <img src="{% static 'images/selection_icon.png' %}" alt="Step 1">
            </div>

        </div>
        <div class="stepper-item completed">
            <div class="step-counter">
                <img src="{% static 'images/qr_icon.png' %}" alt="Step 1">
            </div>

        </div>
        <div class="stepper-item completed">
            <div class="step-counter">
                <img src="{% static 'images/quat_icon.png' %}" alt="Step 1">
            </div>

        </div>
        <div class="stepper-item completed">
            <div class="step-counter">
                <img src="{% static 'images/setup_icon.png' %}" alt="Step 1">
            </div>

        </div>
        <div class="stepper-item active">
            <div class="step-counter">
                <img src="{% static 'images/processing_icon.png' %}" alt="Step 1">
            </div>
            <div class="step-name">Обработка</div>
        </div>
        <div class="stepper-item">
            <div class="step-counter">
                <img src="{% static 'images/ending_icon.png' %}" alt="Step 1">
            </div>

        </div>
    </div>
    {#   прогресс бар #}

    <div class="container-md mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1">
                    <h5>После окончания обработки нажмите "Обработка станком закончена"</h5>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Сейчас в работе:</h3>
                        <table class="table">
                            <tr>
                                <td>Название детали:</td>
                                <td>{{ order.part_name }}</td>
                            </tr>
                            <tr>
                                <td>Общее количество</td>
                                <td>{{ order.num_parts }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="button" class="btn-lg btn btn-success w-100 mt-2" data-bs-toggle="modal"
                            data-bs-target="#confirmationModal">Обработка станком закончена
                    </button>
                    <button type="submit" name="pause_shift" class="btn-lg btn btn-outline-danger w-100 mt-2">Перейти к
                        выбору
                        станка
                    </button>
                </form>

                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                     aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Подтверждение</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Закончить работу на станке и перейти к следующему этапу? <span
                                    id="selected_value_confirmation"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" id="confirmButton"
                                        onclick="document.querySelector('form').submit();">Подтвердить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "forms/bugreport_form.html" %}
    
    <script>document.getElementById('openModalBtn').addEventListener('click', function () {
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    });</script>
{% endblock %}
