{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-md mt-5">
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-
                    {{ message.tags }}{% else %}alert-info{% endif %}"
                     role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="mb-3">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username"
                       class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password"
                       class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}